.BreadCrums {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1rem;
  padding: 0 5rem;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.BreadCrums .Home,
.BreadCrums .indicator {
  color: #a6b1bd;
  font-weight: 500;
}
.BreadCrums .Browse {
  color: #7a8490;
  font-weight: 500;
}

.Newsletter-component {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  padding: 0 5rem;
  height: 300px;
  width: 100%;
  background-color: black;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0;
  width: 100%;
  padding: 0 5rem;
}
.navbar .logo img {
  width: 100px;
}
.navbar .navOptions .list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  color: #626161;
}
.navbar .navOptions .list .listItems {
  cursor: pointer;
}
.navbar .navOptions .list .listItems-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.navbar .searchAndCart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}
.navbar .searchAndCart .search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  background-color: rgba(238, 236, 236, 0.764);
  padding: 0 10px;
  border-radius: 10px;
}
.navbar .searchAndCart .search input {
  background-color: rgba(238, 236, 236, 0.764);
  padding: 10px 0;
}
.navbar .searchAndCart .search input:focus {
  outline: none;
}
.navbar .searchAndCart .cart {
  cursor: pointer;
}
.navbar .hamburger {
  transition: all 0.3s linear;
  cursor: pointer;
  display: none;
}

@media (max-width: 1024px) {
  .navbar .navOptions {
    display: none;
  }
  .navbar .hamburger {
    display: block;
  }
}
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }
  .navbar .searchAndCart {
    display: none;
  }
}
.sortBy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0;
}
.sortBy .result span {
  color: #000;
  font-weight: 600;
}
.sortBy .SortOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.sortBy .SortOptions button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  padding: 8px 15px;
  background-color: transparent;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}

.SelectedFilters {
  display: flex;
  align-items: center;
  justify-content: none;
  flex-direction: row;
  gap: 10px;
}
.SelectedFilters .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
.SelectedFilters .buttons button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  padding: 6px 12px;
  border: 1px solid #e8e8e8;
  border-radius: 30px;
  background: transparent;
}

.ProductsWrapper {
  padding: 3rem 0;
}
.ProductsWrapper .Card-Parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}
.ProductsWrapper .Card-Parent .cards {
  list-style: none;
  border: 1px solid rgba(227, 221, 221, 0.321) !important;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: none;
  flex-direction: column;
  gap: 0;
}
.ProductsWrapper .Card-Parent .cards:hover {
  scale: 1.05;
  transition: all 0.2s ease-in-out;
}
.ProductsWrapper .Card-Parent .cards .image {
  height: 250px;
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px 0 20px !important;
}
.ProductsWrapper .Card-Parent .cards .ProductInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ProductsWrapper .Card-Parent .cards .ProductInfo .price,
.ProductsWrapper .Card-Parent .cards .ProductInfo .discount {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  width: 100%;
}
.ProductsWrapper .Card-Parent .cards .ProductInfo .price .title,
.ProductsWrapper .Card-Parent .cards .ProductInfo .discount .title {
  font-weight: 600;
  color: rgb(128, 127, 127);
}
.ProductsWrapper .Card-Parent .cards .ProductInfo .price .id,
.ProductsWrapper .Card-Parent .cards .ProductInfo .discount .id {
  color: rgb(175, 173, 173);
}
.ProductsWrapper .Card-Parent .cards .ProductInfo .price .strikethrough,
.ProductsWrapper .Card-Parent .cards .ProductInfo .discount .strikethrough {
  text-decoration: line-through;
}
.ProductsWrapper .Card-Parent .cards .AddToCart {
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: 1px solid rgb(227, 221, 221);
  background-color: rgb(244, 244, 244);
  cursor: pointer;
}
.ProductsWrapper .Card-Parent .cards .AddToCart:hover {
  scale: 1.05;
  transition: all 0.2s ease-in-out;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  gap: 1rem;
}
.pagination-wrapper .pageNumbers {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1rem;
}
.pagination-wrapper .pageNumbers .pageButtons {
  padding: 10px;
  background-color: transparent;
  border-radius: 6px;
  cursor: pointer;
}
.pagination-wrapper .pageNumbers .currentPage {
  padding: 10px;
  background-color: rgb(229, 228, 228);
  border-radius: 6px;
  cursor: none;
}
.pagination-wrapper .prev,
.pagination-wrapper .next {
  background-color: transparent;
  border: 1px solid rgb(219, 218, 218);
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}
.pagination-wrapper .disable {
  background-color: rgb(203, 201, 201);
  border: 1px solid rgb(219, 218, 218);
  padding: 10px;
  border-radius: 6px;
  cursor: not-allowed;
}

.main-parent {
  padding: 10px;
}
.main-parent .parent-category {
  border: 1px solid rgb(243, 243, 243);
  border-radius: 10px;
  box-shadow: 0.9px 0.9px 0.9px 0.9px #dedfdd;
  list-style: none;
}
.main-parent .parent-category .child-categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 4rem;
  border-top: 1px solid rgb(243, 243, 243);
  padding: 10px 20px;
  cursor: pointer;
  color: rgb(116, 114, 114);
}
.main-parent .parent-category .grandChild .innerChild {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 4rem;
  border-top: 1px solid rgb(243, 243, 243);
  padding: 10px 30px;
  cursor: pointer;
  color: rgb(116, 114, 114);
}
.main-parent .parent-category .grandChild .innerChild2 .inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
.main-parent .parent-category .grandChild .innerChild2 .inputs .indivisualInput {
  display: flex;
  gap: 10px;
}
.main-parent .parent-category .grandChild .innerChild2 .inputs .indivisualInput p {
  font-size: 14px;
}
.main-parent .parent-category .grandChild .innerChild2 .inputs .quantity {
  background-color: rgba(232, 232, 232, 0.852);
  border-radius: 30px;
  padding: 2px;
  font-size: 10px;
}

.Main-Parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem 5rem;
  position: relative;
}
.Main-Parent .filters {
  align-self: baseline;
  position: sticky;
  top: 0;
}
.Main-Parent .products {
  flex: 1;
  align-self: baseline;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(116, 114, 114);
}

body {
  position: relative;
}
body .cartParent {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
body .cartParent .CartChild {
  width: 400px;
  background-color: whitesmoke;
}
body .cartParent .flex1 {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.597);
}
body .cartHidden {
  display: none;
}/*# sourceMappingURL=index.css.map */